<!DOCTYPE html>
<html>
  <head>
    <title>PhoneShop</title>
    <%= csrf_meta_tags %>
    <%= render 'layouts/head' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/nav' %>
    <%= render 'layouts/jumbotron' %>
    
    
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
